@font-face {
    font-family: "Gotham";
    src: url("../GothamHTF-Black.otf");
}

* {
    font-family: Georgia;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Gotham;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}